.block
  .content
    .inner
      %table.table
        %th.first=mat(:context, :id)
        %th=mat(:context, :name)
        %th.last="&nbsp;"
        %tr
        -@contexts.each do |context|
          %tr
            %td.first=context.id
            %td=context.name
            %td.last
              =button_to pat(:edit), url(:contexts, :edit, :id => context.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:contexts, :destroy, :id => context.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')"
      .actions-bar.wat-cf
        .actions="&nbsp;"
.name

