.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  %span.description Unique name of the shared data application 
  %br

.group
  =f.label :url
  =f.error_message_on :url
  =f.text_field :url, :class => :text_field
  %span.description Main (support) URL of the application website
  %br

.group
  =f.label :redirect_url
  =f.error_message_on :redirect_url
  =f.text_field :redirect_url, :class => :text_field
  %span.description Redirect URL for the oauth process. 
  %br


.group
  =f.label :description
  =f.error_message_on :description
  =f.text_area :description, :class => :text_area, :rows => 8
  %span.description Description of the shared data application 
  %br

.group
  =f.label :public_key
  =f.error_message_on :public_key
  =f.text_area :public_key, :class => :text_area, :rows => 8
  %span.description Public key of the shared data application 
  %br


.group
  =f.error_message_on :context
  =f.select_block     "context", :options => @contexts
  %span.description Context name of the shared data application 


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:developers, :index)}';return false", :class => :button
